@media (max-width: 570px) {
  .inputConnect {
    width: 100%;
  }
  .none-mobilev {
    display: none;
  }
}
.containerCall {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-height: 900px;
  width: 400px;
  max-width: 400px;
  padding: 20px 20px 50px 20px;
  margin: auto;
}
.emoji {
  font-size: 25px;
}
.form-control.text-start {
  text-wrap: nowrap;
  white-space: nowrap;
  overflow-x: hidden;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff; /* цвет индикатора */
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.text-primary {
  color: #6a11cb !important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6a11cb;
  --bs-btn-border-color: #6a11cb;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5a0faf;
  --bs-btn-hover-border-color: #530ea3;

  --bs-btn-focus-shadow-rgb: 106, 17, 203;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #530ea3;
  --bs-btn-active-border-color: #4d0d97;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6a11cb;
  --bs-btn-disabled-border-color: #6a11cb;
}
.btn-outline-primary {
  --bs-btn-color: #6a11cb;
  --bs-btn-border-color: #6a11cb;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6a11cb;
  --bs-btn-hover-border-color: #6a11cb;

  --bs-btn-focus-shadow-rgb: 106, 17, 203;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6a11cb;
  --bs-btn-active-border-color: #6a11cb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #6a11cb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6a11cb;

  --bs-gradient: none;
}

.user_icon {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: rgba(110, 91, 254, 0.573);
}
.textr {
  font-size: clamp(14px, 5vw, 16px);
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}
.buttonChange {
  padding: 12px;
  border-radius: 50%;
  background: #ffffff23;
}

.buttonChange:disabled {
  opacity: 0.5;
}

.text-white.small {
  font-size: clamp(10px, 2vw, 12px);
  font-weight: 300;
}

.callPanel {
  width: 100%;
  letter-spacing: 1px;

  grid-template-columns: repeat(3, 1fr);
  display: grid;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 40%;
  flex-direction: column;
}
